// =============================================================================
// Colors
// =============================================================================

$background-color: #fffdf5;
$dark-gray: #333;
$pale-red: #ffe8da;
$peach: #ff946b;

// =============================================================================
// Links
// =============================================================================

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

// =============================================================================
// Typescale
// =============================================================================

$base-font-size: 1rem;
$base-line-height: 1.25 * $base-font-size;

$type-settings: (
  -1: (
    font-size: 0.8rem,
    line-height: $base-line-height
  ),
  0: (
    font-size: 1rem,
    line-height: $base-line-height * 1.25
  ),
  1: (
    font-size: 1.25rem,
    line-height: $base-line-height * 2
  ),
  2: (
    font-size: 1.563rem,
    line-height: $base-line-height * 2
  ),
  3: (
    font-size: 1.953rem,
    line-height: $base-line-height * 3
  ),
  4: (
    font-size: 2.441rem,
    line-height: $base-line-height * 3
  )
);