// =============================================================================
// Import Base Styles + Grid
// =============================================================================

@import 'base/base';
@import 'settings';
@import 'app';

@import 'mixins';
@import 'vars';


// =============================================================================
// Global Styles
// =============================================================================

body {
	background-color: $background-color;
}

h3 {
	font-family: 'National';
	color: $dark-gray;
	@include type-setting(1);
	margin-bottom: 0;
}

h4 {
	font-family: 'Founders';
	color: $dark-gray;
	@include type-setting(-1);
	text-transform: uppercase;
	letter-spacing: 1px;
}

p {
	font-family: 'Tiempos';
	color: $dark-gray;
	@include type-setting(0);
}

.divider {
	border-bottom: 2px solid $pale-red;
	margin: 70px 0;
}

// =============================================================================
// Top Navigation
// =============================================================================

.logo {
	float: left;
	width: 50px;
	height: 50px;
}

.top-navigation {
	margin: 50px 0;
	padding: 0 15px;
	@include clearfix;
}

nav {
	float: right;
	margin-top: 15px;
	font-family: 'Founders';
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	color: $dark-gray;
	@include type-setting(-1);
}

nav li {
	display: inline;
	margin-left: 25px;
}

// =============================================================================
// Homepage
// =============================================================================

.intro-paragraph p {
	font-family: 'National';
	color: $dark-gray;
	@include type-setting(4);
	margin-bottom: 25px;
	padding: 0 15px;
}

.intro-paragraph p:last-child {
	margin-bottom: 0;
}

.project-gallery {
	margin-bottom: 50px;
}